:root {
    --border-color: #ddd;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    line-height: 1.5;
    background: #222;
    color: #fff;
    padding: 15px;
    margin: 0;

    background-color: #222;
    background-image: 
        linear-gradient(rgba(0,0,0,0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0,0,0,0.1) 1px, transparent 1px);
    background-size: 20px 20px;
}
a {
    text-decoration: none;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 10px 0;
}

h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 10px 0;
    font-size: 24px;
}

span {
    font-size: 16px;
    font-weight: lighter;
}

strong {
    font-weight: 600;
    color: #fff;
}
li {
    font-weight: lighter;
}
.black {
    color: #fff;
}
.red {
    color: #dc8bc3;
}
.blue {
    color: #509ada;
}

.logo {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    text-align: center;
}
.logo svg {
    width: 35px;
    height: auto;
}

.table {
    overflow: hidden;
    clip-path: polygon(
        20px 0, 
        calc(100% - 20px) 0, 
        100% 20px, 
        100% calc(100% - 20px), 
        calc(100% - 20px) 100%, 
        20px 100%, 
        0 calc(100% - 20px), 
        0 20px
    );
    width: fit-content;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    text-align: left;
    border-collapse: separate;
}
td, th {
    /*border-right: 1px solid var(--border-color);*/
    padding: 10px 30px;
}

th {
    padding-top: 20px;
    font-weight: 600;
}

tr:last-child td  {
    padding-bottom: 20px;
}

tr {
    background: #252525;
}

ul, ol {
    padding: 0;
    margin-left: 20px;
}

.home {
    padding-top: 60px;
    padding-bottom: 50px;
    
    width: 100%;
    height: 100%;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.anim {
    background-image: linear-gradient(-135deg, #418ae0, #56a0d8, #dc8bc3, #56a0d8, #418ae0, #56a0d8, #dc8bc3, #56a0d8, #418ae0);
    background-image: -ms-linear-gradient(-135deg, #418ae0, #56a0d8, #dc8bc3, #56a0d8, #418ae0, #56a0d8, #dc8bc3, #56a0d8, #418ae0);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    -webkit-animation: masked-animation 2s infinite linear;
    animation: masked-animation 2s infinite linear;
}


@keyframes masked-animation {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0% 0;
    }
}

@-webkit-keyframes masked-animation {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0% 0;
    }
}

.contacts-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}


.block {
    width: 100%;
    margin-top: 70px;
}
.block .content {
    width: 100%;
}
.block span {
    margin-top: 10px;
    display: block;
}
.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.list-item {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    width: calc(50% - 55px);

    padding: 15px 25px;
    background: #252525;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}
a.list-item:hover {
    background: #dfedfc;
    color: #000;
}
.list-100 .list-item{
    width: 100%;
}
.list-item__title {
    font-weight: 500;
    width: 100%;
}
.list-item__text {
    font-weight: lighter;
    width: 100%;
}
.contacts {
    margin-top: 50px;
}
@media screen and (max-width: 900px) {
    body {
        font-size: 16px;
    }
    span {
        font-size: 14px;
    }

    .block {
        margin-top: 40px;
    }
}

@media screen and (max-width: 600px) {
    .list .list-item {
        width: 100%;
    }

    td, th {
        padding: 5px 10px;
    }
    th {
        padding-top: 10px;
    }

    tr:last-child td  {
        padding-bottom: 10px;
    }

    .table {
        overflow: hidden;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
        width: fit-content;
    }
    .home {
        padding-bottom: 20px;
    }
}
.lang {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 15px;
}